---
---

@import "{{ site.theme }}";

   h1,h2,h3 {
   color: #1a2154;
 }
 
 
section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

header {
  width:170px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header {
    padding-right:320px;
  }