---
---

@import "{{ site.theme }}";

   h1,h2,h3 {
   color: #1a2154;
 }
 
 header {
  width:170px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}