<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	
	<meta name="title" content="Dr. Fabian Stöckl | Economist">
	<meta name="description" content="Dr. Fabian Stöckl - Economist - Topcis: Growth, Development, and Environment - German Institute for Economic Research">
	<meta name="keywords" content="energy,environmental,energy, elasticity of substitution,modeling,development,growth,DIW,Vivid Economics,German Institute for Economic Research,sustainability,green growth,clean,dirty">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="revisit-after" content="14 days">
	<meta name="author" content="Fabian Stöckl">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->


<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	
  </head>
  <body>
  
  <span data-nosnippet>
  
    <div class="wrapper">
      <header>
		<p><span style="color:#1a2154;"><span style="font-size:26px;">Dr.&nbsp;Fabian&nbsp;St&ouml;ckl</span></span><br />
		<span style="color:#999999;"><em><span style="font-size:18px;">Economist</span></em></span></p>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Picture" />
        {% endif %}
		
		<p></p>
		
        <p><span style="color:#1a2154;"><span style="font-size:18px;"><span style="font-size:14px;"><strong>Email:&nbsp;</strong>fstoeckl[at]diw[dot]de</span></span></span></p>
		
		<br/>
		
		
		<a href="https://twitter.com/FabianStoeckl"  target="_blank"><img src = "/twitter.svg" onmouseover="this.src='/twitterover.svg'" onmouseout="this.src='/twitter.svg'" width="30" height="30"/></a>
		<a href="https://www.researchgate.net/profile/Fabian-Stoeckl-3"  target="_blank"><img src = "/researchgate.svg" onmouseover="this.src='/researchgateover.svg'" onmouseout="this.src='/researchgate.svg'" width="30" height="30"/></a>
		<a href="https://scholar.google.com/citations?user=aPcI00QAAAAJ&hl=de"  target="_blank"><img src = "/googlescholar.svg" onmouseover="this.src='/googlescholarover.svg'" onmouseout="this.src='/googlescholar.svg'" width="30" height="30"/></a>
		<a href="https://www.linkedin.com/in/fabian-stoeckl/"  target="_blank"><img src = "/linkedin.svg" onmouseover="this.src='/linkedinover.svg'" onmouseout="this.src='/linkedin.svg'" width="30" height="30"/></a>
		<a href="https://github.com/fabian-stoeckl"  target="_blank"><img src = "/github.svg" onmouseover="this.src='/githubover.svg'" onmouseout="this.src='/github.svg'" width="30" height="30"/></a>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
	
	</span>
	
  </body>
</html>